%div
  %h3
    Budget
  %table.table-minimal
    %thead
      %tr
        %th User
        %th Amount
        %th
    %tbody
      - birthday.pledges.each do |pledge|
        %tr
          - if pledge == current_user.pledge_for_birthday(birthday)
            = simple_form_for pledge, url: birthday_pledge_path(birthday, pledge) do |f|
              %td
                = current_user
              %td
                = f.text_field :amount
              %td
                = f.submit class: 'pure-button'
          - else
            %td #{pledge.user}
            %td #{pledge.amount}
            %td
      %tr
        %td Total:
        %td #{birthday.budget}
        %td


