%div
  - birthday.gift_ideas.each do |idea|
    #{link_to idea.link} for #{idea.price}
  = simple_form_for GiftIdea.new, url: birthday_gift_ideas_path(birthday) do |f|
    = f.input :link
    = f.input :price
    = f.submit
