%h3
  Gift Ideas
%div
  %table.table-minimal
    %thead
      %tr
        %th Votes
        %th Price
        %th Link
        %th
    %tbody
      - birthday.scores.each do |idea, votes|
        %tr
          %td #{votes}
          %td #{idea.price}
          %td #{link_to idea.link, idea.link, target: 'blank'}
          %td
            = render 'votes', {idea: idea}
      %tr
        = simple_form_for GiftIdea.new, url: birthday_gift_ideas_path(birthday), html: {class: 'pure-form'} do |f|
          %td
            = f.text_field :link, placeholder: "Gift Idea Link"
          %td
            = f.text_field :price, placeholder: "Price"
          %td
          %td
            = f.submit 'Add', class: 'pure-button'
